
:root {
  --warm-highlight: #ff6b6b;
  --warm-primary: #f3ebe8;
  --warm-primary-soft: #f3ebe890;
  --warm-secondary: rgba(243, 235, 232, 0.3);
  --warm-ter: rgb(26 22 21);
  --warm-ter-soft: rgba(26, 22, 21, 0.814);
}


/* Responsive font-size with clamp */

h1 {
  color: #1f2022;
  --minFontSize: 20px;
  --maxFontSize: 45px;
  --scaler: 6vw;
  font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
}

.post-content h2 {
  color: #1f2022;
  --minFontSize: 24px;
  --maxFontSize: 45px;
  --scaler: 6vw;
  font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
}


#homeInfo,
.header,
.home-info,
.post-entry,
.section-social,
.section-debug-hugo {
  background-color: var(--warm-primary);
}


#homeInfo {
  width: 100%;
  margin-bottom: 3em;
}

.post-highlight {
  display: none;
}

.main {
  padding-top: 0;
  margin-top: 0;
  margin: 0;
  padding: 0;
}


.post-title {
  font-family: 'yeseva';
  margin: 2em 0 0.5em 0;
  text-indent: -0.5em;
  padding-left: 0.5em;
}


.post-description {
  font-family: "open-sans-regular";
  font-size: 24px;
  margin-bottom: 5px;
}

.post-entry,
.post-content,
.post-header,
.page-header,
.terms-tags,
.post-footer,
.pagination,
.home-info,
.toc,
.archive-year,
#searchbox,
.details-debug-hugo {
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin: 2em auto;

}

.post-header,
.home-info {
  margin: 0 auto;
}

.post-meta {
  align-items: center;
  justify-content: center;
  margin: 2em auto
}

.post-meta .date {
  padding-right: 2em;
}


.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin: 2em 0 1.2em;
}


.post-content h2 {
  font-family: 'yeseva';
  margin-top: 2em;
} 

.post-content h3 {
  font-family: "open-sans-bold";
  font-size: 24px;
}

.post-content h4 {
  font-family: "open-sans-bold";
  font-size: 20px;
}

.post-content a,
.toc a:hover {
  color: var(--warm-highlight);
  border-bottom: .1em solid var(--warm-highlight);
  box-shadow: none;
}


h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    border-bottom: none;
}


.video-shortcode, .video {
  max-width: 100%;
  height: auto;
}

.post-content .highlight {
  margin-top: 1em !important;
  margin-bottom: 2em !important;
}

.post-description {
  display: none;
}

.post-content img {
  margin: auto;
}