

.details-debug-hugo {
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin: 0.5em auto;

}

.details-debug-hugo tbody {
  display: inline-block;
  margin: auto;
  width: 100%;
}

.details-debug-hugo .table-row-debug-hugo {
  margin: auto;
  width: 100%;
}

.section-debug-hugo {
  text-align: left;
  padding: 1em
}

.section-debug-hugo th {
  padding: 0.2em 2em 0 2em;
}

.section-debug-hugo  tr:nth-child(even) {background: #FFF}
.section-debug-hugo  tr:nth-child(odd) {background: #f3ebe8}

.summary-debug-hugo {
  margin: 0.4em;
}