
.post-tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 6em;
}

.paginav {
  margin-top: 2em;
  background: #f3ebe896;
  padding: 1em;
}

.paginav a {
  padding: 1em;
}

.paginav a:hover {
  background: var(--warm-primary);
}



.section-social {
  margin-top: 4em;
  padding: 2em 0 1em 0;
  display: flex;
}

.social-icons {
  margin: auto;
  opacity: 0.8;
}