.first-entry {
  padding: 1.2em;
  margin-bottom: 6em;
}


.first-entry .entry-header  h1 {
  font-family: yeseva;
  margin: 3em 0 0.5em 0;
  --minFontSize: 40px;
  --maxFontSize: 50px;
  --scaler: 6vw;
  font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
}

.entry-content h3 {
  font-size: 23px;
  font-weight: 400;
  margin: auto;
  /* padding-left: 1em; */
  margin-bottom: 3em;
}

.entry-footer {
  margin: auto;
}