

.post-entry h2 {
  /* font-family: 'yeseva'; */
  font-family: 'News Cycle';
  font-weight: 700;
  /* opacity: 0.9; */
  --minFontSize: 20px;
  --maxFontSize: 30px;
  --scaler: 6vw;
  font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
}

.post-entry .entry-footer {
  display: flex;
  justify-content: flex-end;
}