.post-entry {
  transform: scale(1);
  transition: all 0.2s ease;
}

.post-entry:hover {
  transition: all 0.2s ease;
  transform: scale(1.01);
}


.read-more {
  position: absolute;
  right: 1em;
  bottom: 2.6em;
}

.read-more img {
  opacity: 0.8;
  width: 3em;
  height: 3em;
}

.entry-header h2, .entry-content {
  padding-right: 2.8em;
}