

.wordpress-article {
  background-color: #f3ebe8;
  box-shadow: 0px 1.3px 5.3px rgba(0, 0, 0, 0.028), 0px 4.5px 17.9px rgba(0, 0, 0, 0.042), 0px 20px 80px rgba(0, 0, 0, 0.07);
  border-radius: 8px 8px 0 0;
  padding: 1em;
  list-style: none;
  margin-top: 2em;
}

.post-content .wordpress-article h3 {
  margin: 1.2em 0 2em 0;
}
.post-content .wordpress-article figure > figcaption {
  font-size: 1em;
  text-align: center;
  margin: 2em 0 2em 0;
}

.post-content .wordpress-metadata {
  font-size: 0.8em;
  text-align: right;
}