<!DOCTYPE html>
<html lang="{{ site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    {{- partial "head.html" . }}
</head>

<body class="
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print "list" -}}
{{- end -}}
{{- if eq site.Params.defaultTheme `dark` -}}
{{- print " dark" }}
{{- end -}}
" id="top">
    {{- partialCached "header.html" . .Page -}}

    <section class="section debug-tables">
      {{ partial "helpers/debug-tables/debug-tables-list" . }}
    </section>

    <main class="main">
        {{- block "main" . }}{{ end }}
    </main>
    


    <section class="section-social">
      {{ partial "social_icons.html" site.Params.socialIcons }}
    </section>

    {{ partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}
</body>

</html>
