
<!-- Stats with Matomo
     Options:
        - Follow between sub-domains
        - Add domain prefix
        - No JS allowed -->

        <script type="text/javascript">
          var _paq = window._paq = window._paq || [];
          /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
          _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
          _paq.push(["setCookieDomain", "*.roneo.org"]);
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="https://matomo.simplehosting.me/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '10']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <noscript>
          <p>
            <img src="https://matomo.simplehosting.me/matomo.php?idsite=10&amp;rec=1" style="border:0;" alt="" />
          </p>
        </noscript>
                
        <!-- End Matomo -->